html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html{
    font-size: 16px
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
    margin: auto;
    padding: 10px;
}
nav ul{
    list-style: none ;
    text-align: center;
    background-color:black;
    color: #c78c06;
    font-size: 25px;
    padding: 30px;
}
nav ul li{
    padding: 20px;
}
h1{
    font-weight: bold;
    font-size: xx-large;
}
h2{
    font-weight: bold;
    font-size: xx-large;
}
h3{
    font-weight: bold;
    font-size:medium;
}
.header{
    background-color: black;
    margin: auto;
    ;
}
.banner{
    background-image: url(../images/main-banner.jpg);
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    background-size: contain;
    background-size: cover;
    background-position: center;
    align-content: center;
    position: relative;
    background-repeat: no-repeat;
}

.banner button{
    padding: 15px;
    margin: 15px;
    background-color:#c78c06;
    color: white;
    font-size: large;
}
.welcome{
    color: white;
    background-color: rgba(0, 0, 0, 0.63);
}
svg{
    width: 25px;
    height: fit-content;
}

input{
    width: 94%;
    padding: 5px;
}
.about{
    background-color: #ffe6ac;
    margin-bottom: 15px;
    padding-bottom: 20px;
}
.about img{
    width: 100%;
    padding-bottom: 15px;
}
.digital{
    background-color: #ffe6ac;
    margin-bottom: 15px;
    padding-bottom: 20px;
}
.digital button{
    padding: 15px;
    margin: 15px;
    background-color: black;
    color: white;
    font-size: large;
    width: fit-content;
}
.digital img{
    width: 100%;
    padding-bottom: 15px;
}
.digital > h1  {
    margin: 10px;
}
.digital > p  {
    margin: 10px;
}
.marketing{
    background-color: #ffe6ac;
    margin-bottom: 15px;
    padding-bottom: 20px;
}
.marketing button{
    padding: 15px;
    margin: 15px;
    background-color: black;
    color: white;
    font-size: large;
}
.marketing > h1  {
    margin: 10px;
}
.marketing > p  {
    margin: 10px;
}
.marketing img{
    width: 100%;
}
.video{
    background-color: #ffe6ac;
    margin-bottom: 15px;
    padding-bottom: 20px;

}
.video button{
    padding: 15px;
    margin: 15px;
    background-color: black;
    color: white;
    font-size: large;

}
.video img{
    width: 100%;
}
.video > h1  {
    margin: 10px;
}
.video > p  {
    margin: 10px;
}
.web{
    background-color: #ffe6ac;
    margin-bottom: 15px;
    padding-bottom: 20px;
}
.web button{
    padding: 15px;
    margin: 15px;
    background-color: black;
    color: white;
    font-size: large;

}
.web img{
    width: 100%;
}
.web > h1  {
    margin: 10px;
}
.web > p  {
    margin: 10px;
}
.print{
    background-color: #ffe6ac;
    margin-bottom: 15px;
    padding-bottom: 20px;
}
.print button{
    padding: 25px;
    margin: 25px;
    background-color: black;
    color: white;
    font-size: large;

}
.print img{
    width: 100%;
}
.print > h1  {
    margin: 10px;
}
.print > p  {
    margin: 10px;
}
.vision{
    background-image: url(../images/vision.jpg);
    color: white;
    background-size:cover;
    background-repeat: no-repeat ;
    margin-bottom: 15px;
    padding-bottom: 20px;
}
.vision button{
    padding: 15px;
    margin: 15px;
    background-color:navy ;
    height: auto;
}
.vision img{
    width: 100%;
    position: relative;
}
.vision > h1  {
    margin: 10px;
}
.vision > p  {
    margin: 10px;
}
.john {
    background-color: #ffe6ac;
    margin-bottom: 15px;
    padding-bottom: 20px;

}
.john > h1 > h3 >p {
    padding: 15px;
}
.john img{
    width: 100%;
}
.john > h1  {
    margin: 10px;
}
.john > h3  {
    margin: 10px;
}
.john > p  {
    margin: 10px;
}
hr{
    background-color:#c78c06;
    width: 665px;;
    padding: 1px;
}
.bob {
   background-color: #ffe6ac;
   margin-bottom: 15px;
   padding-bottom: 20px;
}
.bob img{
    width: 100%;
}
.bob > h1  {
    margin: 10px;
}
.bob > h3  {
    margin: 10px;
}
.bob > p  {
    margin: 10px;
}
table{
    border-collapse: collapse;
    width: 100%;
}
td,th{
    border: 1px solid black;
    text-align: left;
    padding: 9px;
}
th{
    background-color: #ffe6ac;
}
footer{
    color: #c78c06;
    background-color: #ffe6ac;
    background-color: black;
    font-size: 1rem;
    padding: 10px;
    width: 100%;
}
@media screen and (min-width:1200px){
   .about img{
    width: 250px;
    float: left;
    padding:auto;
   } 
   .services{
    display: grid;
    gap: 15px;
    grid-template-columns:repeat(4, 1fr);
   }
   .digital{
    grid-column: span 2;
   }
   .marketing{
    grid-column: span 2;
   }
}