html{
    font-size: 16px
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;

}
.wrapper{
    margin: auto;
    padding: 10px;
}
nav ul{
    list-style: none ;
    text-align: center;
    color: rgb(212, 164, 6);
    font-size: 1.5rem;
}
.header{
    background-color: black;
    margin: auto;
}
.banner  {
    color: white;
    background-color:rgba(0, 0, 0, 0.589) ;
}
.about{
    background-color: rgba(240, 206, 127, 0.859);
}
.services{
    background-color: rgb(247, 201, 145);

}
.marketing{
    background-color: rgb(247, 201, 145);

}
.video{
    background-color: rgb(247, 201, 145);

}
.web{
    background-color: rgb(247, 201, 145);

}
.print{
    background-color: rgb(247, 201, 145);

}